$num-port: 7;
$total-width: ($num-port * 700);

#port {
    width: 100%;
    margin-top: 30vh;
    
}
.port__inner {
    padding: 16px;
    user-select: none;

    .port__title {
        width: 100%;
        height: 5vw;
        font-size: 4vw;
        font-weight: 900;
        line-height: 1.6;
        font-family: var(--mainKor-font);
        text-transform: uppercase;
        color: var(--black100);
        border-bottom: 0.4vw solid var(--black100);
        margin-bottom: 16px;
        text-indent: -0.26vw;

        em {
            font-size: 1.25rem;
            font-weight: 400;
            line-height: 2;
        }
    }
    .port__wrap {
        display: flex;
        flex-wrap: wrap;
        width: #{$total-width}px;

        .port__item {
            width: 500px;
            height: 70vh;
            background-color: var(--subBg100);
            padding: 2.5rem;
            margin-right: 20px;

            @for $i from 1 through $num-port {
                $color-index: null;
                @if $i % 5 == 0 {$color-index: 5;} @else {$color-index: $i % 5;}
                &.p#{$i} {
                    background-color: var(--subBg#{$color-index}00);
                }
            }
            .img {
                display: block;
                margin-top: -20px;
                transition: margin-top 0.3s;

                img {
                    border-radius: 5px;
                    filter: saturate(0%);
                    transition: all 0.3s;
                }
                
                &:hover {
                    margin-top: 0;

                    img {
                        filter: saturate(100%);
                    }
                }
            }
            .title {
                font-size: 1.5rem;
                text-align: center;
                padding: 0.8rem 0;
                font-weight: 700;
                color: var(--black100);
                border-bottom: 2px solid var(--black100);
                margin-bottom: 1rem;
            }
            .desc {
                font-size: 1rem;
            }
            .site {
                position: absolute;
                bottom: 3%;
                border: 2px solid var(--black100);
                display: block;
                text-align: center;
                padding: 0.625rem 10.5rem;
                margin-top: 1rem;
                transition: all 0.2s;

                &:hover {
                    background-color: var(--black100);
                    color: var(--white);
                }
            }
        }
    }
}