#footer {
    font-family: var(--mainKor-font);
}
.default__footer__inner {
    padding: 1vh;
    position: fixed;
    right: 0%;
    bottom: 0%;
    width: 11.5%;

    .default__footer__right {
        text-align: center;
        text-transform: uppercase;
        font-size: 1.2vh;
        font-weight: 700;
        display: flex;
        flex-direction: column;

        .default__footer__reference {
            display: flex;
            justify-content: space-evenly;
        }
    }
}